{% extends 'base.html.twig' %}

{% block body %}

 {% if products %}
<div class="row" id="searchingProducts">
    <div lass="col-lg-12">

    <h3 class="mt-5" style="text-align: center;">Wyniki wyszukiwania: </h3>  <br><br>        
                                                    
                                    <table class="table table-striped" style="width: 900px;">
                                    <tbody>
                                    {% for product in products %}
                                        <tr>
                                            <td>
                                                <a href="{{ path('addEntry', {id: product.id}) }}"><h3><blold>{{ product.product|e }}<h3></bold></a>
                                            </td>
                                            <td>
                                                 
                                            </td>
                                            <td>
                                               <h4><bold><span style="color: #006600">{{ product.energy|e }} kcal &emsp;&nbsp;&nbsp;&emsp;</span></bold></h4>
                                            </td>  
                                        </tr> 
                                    {% endfor %} 
                                    
                                     </tbody>
                                    </table>
                                     </div> 

                                    {% else %}
                                       <div class="col-lg-12">
                                         <h2 class="mt-5">Wyszukiwana fraza nie istnieje</h2><br>                               
                                    {% endif %}                                                                                                          
                    </div>                          
        </div>   
{% endblock %}
