default:
    suites:
        default:
            paths:
                - features
            contexts:
                - Kcalculator\Tests\Behat\Context\SmokeContext
                - Kcalculator\Tests\Behat\Context\MealJournalContext
