{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="mt-5">Prototyp apliakcji fitness</h1><br>
            <ul>
                <li>Zaloguj się, aby liczyc kalorie</li>
                <li>Dodawaj swoje posilki</li>
                <li>Prowadz dziennik zywieniowy</li>
            </ul>
        </div>
    </div>
{% endblock %}
