{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="mt-5">Tutaj będą kalorie</h1><br>
            <h3 class="mt-5">0 / 2500 kcal</h3><br>
        </div>
    </div>
{% endblock %}
