body {
    background-color: yellow;    
}

/* div.profile {
    background-color: #ecf3f3;

} */
.container {
    height: 50px;
    
}

#navbar1 {
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 10%, #000000 75%);
    height: 70px;  
}

.mylogo {
    width: 170px;
    height: 60px;   
    vertical-align: top;
    align-items: left;
    display: flex;
    padding-right: 50px;
    float:left;    
}

.form-control.me-2{
    width: 500px;    
}

#content {
    background-color: white;
    min-height: 840px;
    height: auto;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#dashboard {
    background-color: white;
    height: 840px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#preferentions {
    background-color: white;
    height: 840px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 14px;
}

#homelist {
    text-align: left;
}

#login {
    background-color: white;
    height: 840px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    

}

#searchingProducts {
    background-color: white;
    min-height: 840px;
    height: auto;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#daily {
    text-align: left;
}
