{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
       
            <table class="table table-striped" style="width: 200px; height: 200px;"> 
            <thead>
                <tr>
                <th>cos 1</th>
                <th> cos2</th>
                </tr>
            </thead>
            </table>








            </div>
<br><br><br>
            <form action="{{ path('showEntries') }}" method="POST" class="form-horizontal">
                    <label for="username">Pokaż wpis</label>
                    <button type="submit" class="btn btn-success">wpis</button><br>                   
                </form>
        </div>
    </div>
{% endblock %}

