{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
       
            <table class="table table-striped" style="width: 300px; height: 200px;"> 

            <thead>
                <tr>
                    <th>Śniadanie</th>
                    <th>==</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td><h5>Buraki</h5></td>

                    <td>
                    <a href="#">Edytuj</a> &nbsp;&nbsp;
                    <a href="#"><span style="color: red">Usuń<span></a>
                    </td>
                </tr>
            </tbody>

            </table>








            </div>
<br><br><br>
            <form action="{{ path('showEntries') }}" method="POST" class="form-horizontal">
                    <label for="username">Pokaż wpis</label>
                    <button type="submit" class="btn btn-success">wpis</button><br>                   
                </form>
        </div>
    </div>
{% endblock %}

