{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="mt-5">Wyszukaj produkty: </h1>
            <br>
            <br>
            <br>
            <div class="col-lg-6">
                <form action="{{ path('findFood') }}" method="POST" class="form-horizontal">
                    <label for="username">Wpisz nazwę produktu</label>
                    <input type="text" name="search" class="form-control"><br>
                    <button type="submit" class="btn btn-success">Szukaj</button><br>                   
                </form>
            </div>
            <br><br><br>
            <div class="col-lg-12">

                <table border="1" style="width: 700px; height: 150px;">
                <tr style="text-align: center; ">
                    <td>Nazwa użytkownika </td>
                    <td> cosssssssssssssssssss </td>                    
                </tr>
                <tr style="text-align: center; ">
                    <td>Adres e-mail </td>
                    <td> cos 2</td>
                    
                </tr>
            </table>











            </div>
        </div>
    </div>
{% endblock %}

