{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="mt-5">Wyszukaj produkty: </h1>
            <br>
            <br>
            <br>
            <div class="col-lg-6">
                <form action="{{ path('findFood') }}" method="POST" class="form-horizontal">
                    <label for="username">Wpisz nazwę produktu</label>
                    <input type="text" name="search" class="form-control"><br>
                    <button type="submit" class="btn btn-success">Szukaj</button><br>                   
                </form>
            </div>
            <br><br><br>
            <div class="col-lg-12">

                <table border="1" style="width: 700px; height: 150px;">
                <tr style="text-align: center; ">
                    <td>Posiłek </td>
                    <td>Produkty</td>  
                    <td>Kcal </td>    
                    <td>Białko </td>  
                    <td>Tłuszcz </td>    
                    <td>Węglowodany </td>        
                </tr>

                <tr style="text-align: center; ">
                    <td>Przekąski </td>
                    <td> Tutaj będą <br>produkty</td>  
                    <td>kcale </td>    
                    <td>białka </td>  
                    <td>tłuszcze </td>    
                    <td>węgle </td>        
                </tr>

                <tr style="text-align: center; ">
                    <td>Śniadanie </td>
                    <td> Tutaj będą <br>produkty</td>  
                    <td>kcale </td>    
                    <td>białka </td>  
                    <td>tłuszcze </td>    
                    <td>węgle </td>        
                </tr>

                <tr style="text-align: center; ">
                    <td>Drugie śniadanie </td>
                    <td> Tutaj będą <br>produkty</td>  
                    <td>kcale </td>    
                    <td>białka </td>  
                    <td>tłuszcze </td>    
                    <td>węgle </td>        
                </tr>

                <tr style="text-align: center; ">
                    <td>Obiad </td>
                    <td> Tutaj będą <br>produkty</td>  
                    <td>kcale </td>    
                    <td>białka </td>  
                    <td>tłuszcze </td>    
                    <td>węgle </td>        
                </tr>

                <tr style="text-align: center; ">
                    <td>Podwieczorek </td>
                    <td> Tutaj będą <br>produkty</td>  
                    <td>kcale </td>    
                    <td>białka </td>  
                    <td>tłuszcze </td>    
                    <td>węgle </td>        
                </tr>

                <tr style="text-align: center; ">
                    <td>Kolacja </td>
                    <td> Tutaj będą <br>produkty</td>  
                    <td>kcale </td>    
                    <td>białka </td>  
                    <td>tłuszcze </td>    
                    <td>węgle </td>        
                </tr>

                
            </table>











            </div>

            <form action="{{ path('showEntries') }}" method="POST" class="form-horizontal">
                    <label for="username">Pokaż wpis</label>
                    <button type="submit" class="btn btn-success">wpis</button><br>                   
                </form>
        </div>
    </div>
{% endblock %}

