{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="row">

        <h1 class="mt-5"> Dziennik</h1></div><br><br><br>
      

            <table class="table table-striped" style="width: 700px;"> 
            <thead>
                <tr>
                    <th><h4>Śniadanie</h4></th>
                    
                    <th><h6>Białko: 0.5 g, Tłuszcz: 0 g, Węglowodany: 27 g</h6></th>
                    <th><h4>144 kcal</h4></th>
                                     
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                    <h5><blold><span style="color: black">Buraki, 100 g</span></h5></bold>
                    </td>

                    <td>
                    <a>48 kcal</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                    <a href="#">Edytuj</a> &nbsp;&nbsp;
                    <a href="#"><span style="color: red">Usuń<span></a> 
                    
                    </td>
                </tr>

                <tr>
                    <td>
                    <h5><blold><span style="color: black">Pizza, 400 g</span></h5></bold>
                    </td>

                    <td>
                    <a>746 kcal</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                    <a href="#">Edytuj</a> &nbsp;&nbsp;
                    <a href="#"><span style="color: red">Usuń<span></a> 
                    
                    </td>
                </tr>

                <tr>
                    <td>
                    <h5><blold><span style="color: black">Masło, 12.5 g</span></h5></bold>
                    </td>

                    <td>
                    <a>86 kcal</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                    <a href="#">Edytuj</a> &nbsp;&nbsp;
                    <a href="#"><span style="color: red">Usuń<span></a> 
                    
                    </td>
                </tr>

            </tbody>

            </table>








            </div>

             <form action="{{ path('editEntry', {id: preferention.id}) }}" method="POST" id="entryform" class="form-horizontal">

                <div><h5><bold><span style="color: #ff6633">id pref: </span></bold>{{ preferention.id|e }} </h5></div>
             

     
{% endblock %}

