{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="mt-5"><span style="color: blue">(obliczone kcal)</span> - <span style="color: red">(kcal z produktów)</span> =  <span style="color: green">pozostałe</span> </h1>
            <br>
            <br>
            <br>
            <div class="col-lg-6">
                <form action="{{ path('findFood') }}" method="POST" class="form-horizontal">
                    <label for="username">Wpisz nazwę produktu</label>
                    <input type="text" name="search" class="form-control"><br>
                    <button type="submit" class="btn btn-success">Szukaj</button><br>                   
                </form>
            </div>



            
                
            </div>
        </div>
    </div>
{% endblock %}

