{% extends 'base.html.twig' %}

{% block title %}{{ product.product }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="mt-5"> Tutaj będzie wpis użytkownika :)</h1>
            <div class="row"><h3><blold>{{ product.product|e }}, <h3></bold></div>
            <div class="row"><h4><span style="color: grey">100g, {{ product.energy|e }} kcal, {{ product.id|e }} &emsp;</span></h4>
            


        </div>
    </div>
{% endblock %}
