{% extends 'base.html.twig' %}

{% block body %}
    <div class="row" id="preferentions">
        <div class="col-lg-12">
            <div class="col-lg-6">
                <form action="{{ path('setPreferention') }}" method="POST" class="form-horizontal"><br>
                    <label for="username"><h5>Wypełnij formularz, aby obliczyć zapotrzebowanie kaloryczne</h5></label>
                    
                    <p>1) Podaj swoją płeć:</p>
                        <input type="radio" name="man" value="Mężczyzna">Mężczyzna
                        <input type="radio" name="woman" value="Kobieta">Kobieta
                    <br>
                    <br>
                    <label for="username">2) Wpisz wagę w kilogramach:</label>
                    <input type="text" name="weight" class="form-control" placeholder="74.5" required>
                    <br>
                    <label for="username">3) Wpisz wzrost w centymetrach:</label>
                    <input type="text" name="height" class="form-control" placeholder="185" required>
                    <br>
                    <label for="username">4) Podaj wiek:</label>
                    <input type="text" name="age" class="form-control" placeholder="33" required>
                    <br>
                    <p>5) Jaka jest Twoja aktywność fizyczna w ciągu tygodnia?</p>
                        <input type="radio" name="activity1" value="low">Siedzący tryb życia, praca przy biurku. Jedyba aktywność to codzienne czynności domowe<br><br>
                        <input type="radio" name="activity2" value="medium">Tryb życia o średniej aktywności fizczynej. Praca fizyczna, lub codziennie wykonywanie lekkich ćwiczeń fizycznych w czasie 1 godziny<br><br>
                        <input type="radio" name="activity3" value="hard">Tryb życia o wysokiej aktywności fizczynej. Ciężka praca fizyczna, albo codzienny trening o wymiarze minimum 2 godzin z wysoką intesywnością<br>
                        <br>
                    <p>6) Jaki jest Twój cel związany z sylwetką?</p>
                        <input type="radio" name="intension1" value="burn">Chcę spalić tkankę tłuszczową.<br>
                        <input type="radio" name="intension2" value="keep">Chcę utrzymać wagę.<br>
                        <input type="radio" name="intension3" value="gain">Chcę przybrać masy mięśniowej.
                        <br>
                    <button type="submit" class="btn btn-success">Wyślij</button><br>                   
                </form>
         </div>   
        </div>
    </div>
{% endblock %}

