{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="mt-5">Tutaj będą dane użytkownika</h1><br>
            {% for profile in profile %}
                {{ profile.username|e }}
                {{ profile.kcal_day|e }}

            {% endfor %}
            
        </div>
    </div>
{% endblock %}