{% extends 'base.html.twig' %}

{% block body %}
    
            <div class="col-lg-6">
             
                    <div class="col-lg-6">
                        <h3 class="mt-5">Wyniki:</h3><br>
                            <div>                           
                                    <br><br>
                                    {% for product in products %}
                                        
                                        <div class="row"><h3><blold>{{ product.product|e }}, <h3></bold></div>
                                        <div class="row"><h4><span style="color: grey">100g, {{ product.energy|e }} kcal &emsp;</span></h4> 
                                
                                                <a href="{{ path('product.detail', {id: product.id}) }}" class="btn btn-dark">+</a>
                                                                                                  
                                        </div> 
                                        
                                         
                                                                       
                                        <hr class="row"style="height:2px;border-width:0;color:gray;background-color:gray">

                                    {% else %}
                                        <em><h3><blold>Nie ma takiego produktu :(<h3></bold></em>
                                        
                                    {% endfor %}                                                            
                            </div>                      
                    </div>                  
                
     
            
        </div>
    
{% endblock %}
