{% extends 'base.html.twig' %}

{% block body %}
    
            <div class="col-lg-6">
                <form action="{{ path('findFood') }}" method="POST" class="form-horizontal">
                    <div class="col-lg-6">
                        <h3 class="mt-5">Wybrany produkt</h3>
                    </div>
                </form>
            
        </div>
    
{% endblock %}
