{% extends 'base.html.twig' %}

{% block body %}
   <div class="col-lg-6">
                    <div class="col-lg-6">

                        <h3 class="mt-5">Wpis:</h3><br>
                            <div>                           
                                    <br><br>
                                    {% for entry in entry %}
                                        
                                        <div class="row"><h2><blold>{{ entry.datetime|date("d/m/Y") }}, <h2></bold></div><br>
                                        <div class="row"><h3><blold>Posilek: {{ entry.meal_type|e }}, <h3></bold></div> <br>
                                        <div class="row"><h3><blold>Porcja: {{ entry.grammage|e }} g, <h3></bold></div> <br>
                                        <div class="row"><h3><blold>Produkt:  <h3></bold></div>

   {#                                     {% for product in entry.food %}
                                                 {{ product.product|length }}
                                         {% endfor %}
#}
                                                                                                                        
                                        <hr class="row"style="height:2px;border-width:0;color:gray;background-color:gray">
                                        
                                    {% endfor %}                                                                            
                            </div>                      
                    </div>                  
{% endblock %}
